*{
    margin: 0;
    padding: 0;
}
.outer-container{
    /* border: 1px solid black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #9A6ADD;
}
.inner-container{
    /* border: 1px solid black; */
    height: 26rem;
    width: 25rem;
    margin: auto;
    background-color: #EFE8FF;
    border-radius: .6rem;
    padding: 1rem;
}
.div-title{
    width: 100%;
    /* border: 1px solid black; */
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    margin: .4rem 0;
}
.lengthGroup{
    /* border: 1px solid black; */
    width: 100%;
    padding: .4rem 0;
    display: flex;
    flex-direction: column;
}
.display-length-box{
    /* border: 1px solid black; */
    align-self: flex-end;
    height: 1.1rem;
    width: 2.3rem;
    margin: 0 1.1rem .2rem 0;
    border-radius: .3rem;
    background-color: #D7ABDA;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.length-range-bar{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.length-range-bar input{
    width: 92%;
}