* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #1E1B2E;
    --Secondary: #2A2540;
    --Tertiary: #6C5CE7;
    --firstText: #FFFFFF;
    --accent: #8B7CFF;
    --muted: #FFFFFF;
    --boxBgColor: #1F1C33;
}


body {
    font-family: 'Poppins', sans-serif;
}

.outer-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.inner-container {
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}

/* Content Floating Blocks */
.content1,
.content2,
.content3 {
    width: 100%;
    padding: .6rem;
    /* border: 1px solid black; */
    border-radius: 1rem 1rem .2rem .2rem;
    margin: 0 1rem;
    background-color: var(--Secondary);
}

.content2 {
    border-radius: .2rem;
}

.content3 {
    border-radius: .2rem .2rem 1rem 1rem;
}

/* Password Generator Title */
.div-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: var(--firstText);
}

/* Length Slider */
.lengthGroup,
.PassGenerateButtonClass {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    margin: .4rem 0;
}

.display-length-box {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--Tertiary);
    display: flex;
    color: var(--muted);
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.length-range-bar {
    /* border: 1px solid black; */
    width: 78%;
    display: flex;
}

.length-range-bar input {
    width: 100%;
    height: 3px;
    appearance: none;
    background: #4C3F91;
    border-radius: 2px;
    accent-color: var(--Tertiary);
}

/* Password Categories */
.category-selector-group {
    /* border: 1px solid black; */
    padding: 0.5rem .5rem .5rem .7rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: .3rem 0;
    gap: .7rem;
}

.select-category {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: .9rem;
    width: fit-content;
    color: var(--firstText);
}

.select-category input {
    accent-color: var(--accent);
    background: #6B63A6;
}

/* Generate Button */
.PassGenerateButtonClass button {
    width: 92%;
    height: 2.2rem;
    border: none;
    margin: .2rem 0;
    background-color: var(--Tertiary);
    border-radius: .6rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--muted);
}

.PassGenerateButtonClass button:hover {
    background-color: #5849C2;
}

/* Password Copy Clipboard */
.copyPasswordField {
    width: 100%;
    height: 40px;
    background: var(--boxBgColor);
    border: 1px solid var(--Tertiary);
    border-radius: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.password {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 10%;
}

/* Theme Toggle Button  */
.togglebutton button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primary);
}