*{
    margin: 0;
    padding: 0;
}
.outer-container{
    /* border: 1px solid black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #C8AEED;
}
.inner-container{
    /* border: 1px solid black; */
    height: 26rem;
    width: 25rem;
    margin: auto;
    background-color: #EFE8FF;
    border-radius: .6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem 0 ;
}

/* Password Generator Title */
.div-title{
    /* border: 1px solid black; */
    width: 100%;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
}

/* length Bar */
.lengthGroup{
    /* border: 1px solid black;  */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}
.display-length-box{
    /* border: 1px solid black; */
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #D7ABDA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.length-range-bar{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
}
.length-range-bar input{
    /* border: 1px solid black; */
    width: 100%;
    height: 3px;
    appearance: none;
    background: #000;
    border-radius: 2px;
}

/* Checkboxes */
.category-selector-group{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.select-category{
    margin: 0 1.4rem;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: .9rem;
}
.select-category input{
    /* border: 1px solid black; */
    height: 15px;
    width: 15px;
    accent-color: #6750A4;
}