.lavender {
    --primary: #1E1B2E;
    --secondary: #2A2540;
    --tertiary: #6C5CE7;
    --firstText: #FFFFFF;
    --muted: #FFFFFF;
    --outputBoxBg: #1F1C33;
    --slideBar: #4C3F91;

}

.mint {
    --primary: #E8F6F3;
    --secondary: #FFFFFF;
    --tertiary: #14B8A6;
    --firstText: #369378;
    --muted: #FFFFFF;
    --outputBoxBg: #ECFEFF;
    --slideBar: #99F6E4;
}

.forestGreen {
    --primary: #ECFDF5;
    --secondary: #FFFFFF;
    --tertiary: #10B981;
    --firstText: #064E3B;
    --muted: #FFFFFF;
    --outputBoxBg: #8BE9CA;
    --slideBar: #A7F3D0;

}

.oceanBreeze {
    --primary: #EFF6FF;
    --secondary: #FFFFFF;
    --tertiary: #2563EB;
    --firstText: #1E3A8A;
    --muted: #FFFFFF;
    --outputBoxBg: #DBEAFE;
    --slideBar: #BFDBFE;

}

.midnightGold {
    --primary: #0B0F19;
    --secondary: #111827;
    --tertiary: #FACC15;
    --firstText: #F9FAFB;
    --muted: #000000;
    --outputBoxBg: #020617;
    --slideBar: #4B5563;

}

.cyberBlue {
    --primary: #0F172A;
    --secondary: #020617;
    --tertiary: #2563EB;
    --firstText: #E5E7EB;
    --muted: #FFFFFF;
    --outputBoxBg: #020617;
    --slideBar: #1E40AF;

}

.peach {
    --primary: #FFF1E6;
    --secondary: #FFFFFF;
    --tertiary: #FF8C61;
    --firstText: #2D2A32;
    --muted: #FFFFFF;
    --outputBoxBg: #FFF7F3;
    --slideBar: #FFD6C9;

}

.softRose {
    --primary: #FDF2F8;
    --secondary: #FFFFFF;
    --tertiary: #EC4899;
    --firstText: #831843;
    --muted: #FFFFFF;
    --outputBoxBg: #FFF1F2;
    --slideBar: #FBCFE8;

}