<!doctype html>
<html ng-app="passwordApp">
  <head>
    <title>Password Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
        <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

  </head>

  <body ng-controller="passwordController">
    <div class="outerContainer">
      <div class="innerContainer">
        <div class="title">
          <h2>Password Generator</h2>
        </div>

        <div class="passwordLengthContainer">
          <div class="lengthBar">
            <input
            type="range"
            ng-model="length"
            min="0"
            max="20"
            placeholder="0"
            />
          </div>
          <div class="passwordLengthBox" ng-model="diplayLenght">
      {{length}}
          </div>
        </div>

        <div class="categoryContainer">
          <div class="categoryOption">
            <input type="checkbox" ng-model="upper" />Uppercase(A-Z)
          </div>
          <div class="categoryOption">
            <input type="checkbox" ng-model="lower" />Lowercase(a-z)
          </div>
          <div class="categoryOption">
            <input type="checkbox" ng-model="numbers" />Numbers(0-9)
          </div>
          <div class="categoryOption">
            <input type="checkbox" ng-model="symbols" />Symbols(!@#$^)
          </div>
        </div>

        <div class="generateButton">
          <button ng-click="generatePassword()">Generate Password</button>
        </div>

        <div class="outputField">
            <div class="password">{{password}}</div>
            <div class="copyIcon"><i class="fa-solid fa-clone" ></i></div>
        </div>
      </div>
       <div class="themeDropdownContainer" ng-show="themeVisible">
          <div class="dropdownTitle div-title">Themes</div>
          <div class="themeOptionContainer" id="themeCardContainer">
            <div class="themeOption"id="lavender">Lavender</div>
            <div class="themeOption" id="mint">Mint</div>
            <div class="themeOption" id="oceanBreeze">Ocean Breeze</div>
            <div class="themeOption" id="midnightGold">Midnight Gold</div>
            <div class="themeOption" id="forestGreen">Forest Green</div>
            <div class="themeOption" id="cyberBlue">Cyber Blue</div>
            <div class="themeOption" id="peach">Peach</div>
            <div class="themeOption" id="softRose">Soft Rose</div>
          </div>
      </div>
      <div class="toggleButton">
        <button ng-click="showThemes()"></button>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
