*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.outerContainer{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #0f172a;
}
.div-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: var(--firstText);
}
.title{
    font-size: 1.2rem;
    font-weight: bolder;
}
.innerContainer{
    /* border: 1px solid white; */
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .4rem;
    background: #1e293b;
    border-radius: .4rem;
}
.passwordLengthContainer{
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 .2rem;
}
.passwordLengthContainer input{
    border: none;
    background: white;
    width: 14rem;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: .2rem;
    appearance: none;
    height: 1px;
}
.lengthBar{
    display: flex;
}
.passwordLengthBox{
    background: wheat;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 .4rem 0 0;
}
.categoryContainer {
    /* border: 1px solid white; */
    padding: 0.5rem .5rem .5rem .7rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: .3rem 0;
    gap: .7rem;
}

.categoryOption {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: .9rem;
    width: fit-content;
    color: var(--firstText);
}

.categoryOption input {
    accent-color:#6B63A6;
    background: #6B63A6;
}

.generateButton{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.generateButton button{
    width: 92%;
    height: 2.2rem;
    border: none;
    /* margin: .2rem 0; */
    background-color: #3b82f6;
    border-radius: .6rem;
    font-size: 1rem;
    font-weight: 700;
}
.toggleButton button{
    background: wheat;
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    border: none;
}
.themeDropdownContainer {
    border: .2rem solid #334155;
    width: 16rem;
    height: 29rem;
    background: #1E1E1E;
    border-radius: .4rem;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 5rem;
    right: 3rem;
    display: none;
}


.dropdownTitle {
    /* border: 1px solid white; */
    font-size: 2rem;
    margin: .4rem 0 0 0;
    color: white;
}

.themeOptionContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    max-height: 376px;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.themeOption {
    width: 13rem;
    min-height: 2.5rem;
    background-color: #334155;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
    color: #94A3B8;
    padding-left: 0.5rem;
    cursor: pointer;
}
