* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --primary: #1E1B2E;
    --secondary: #2A2540;
    --tertiary: #6C5CE7;
    --firstText: #FFFFFF;
    --muted: #FFFFFF;
    --outputBoxBg: #1F1C33;
    --slideBar: #4C3F91;
}


.outerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.div-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: var(--firstText);
}

.innerContainer {
    /* border: 1px solid white; */
    width: fit-content;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    background: var(--secondary);
    border-radius: .4rem;
}

.title {
    /* border: 1px solid white; */
    font-size: 1.2rem;
    font-weight: bolder;
    width: 100%;
    color: white;
}

.passwordLengthContainer {
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: .8rem 0 0 0;

}

.passwordLengthContainer input {
    border: none;
    background: var(--slideBar);
    width: 14rem;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: .2rem;
    appearance: none;
    height: 1px;
    accent-color: var(--tertiary);
}

.lengthBar {
    display: flex;
}

.passwordLengthBox {
    background: var(--tertiary);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 .4rem 0 0;
}

.categoryContainer {
    /* border: 1px solid white; */
    width: 100%;
    color: var(--firstText);
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.categoryOption {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-family: sans-serif;
    font-size: 1rem;
    width: fit-content;
    color: var(--firstText);
}

.categoryOption input {
    accent-color: var(--tertiary);
    background: #6B63A6;
    height: 1rem;
    width: 1rem;
}

.generateButton {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: .4rem 0 0 0;
}

.generateButton button {
    width: 100%;
    height: 2.2rem;
    border: none;
    /* margin: .2rem 0; */
    background-color: var(--tertiary);
    border-radius: .2em;
    font-size: 1rem;
    font-weight: 700;
}

.outputField {
    border: 1px solid var(--tertiary);
    background: var(--outputBoxBg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.2rem;
    text-align: center;
    border-radius: .4rem;
    color: var(--firstText);
}
.password{
    margin: 0 0 0 .4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.copyIcon i{
    color: var(--tertiary);
    margin: 0 .4rem 0 0;
}

.toggleButton button {
    background: linear-gradient(90deg, var(--slideBar), var(--tertiary));
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.themeDropdownContainer {
    border: .2rem solid #334155;
    width: 16rem;
    height: 29rem;
    background: #1E1E1E;
    border-radius: .4rem;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 5rem;
    right: 3rem;
    /* display: none; */
}


.dropdownTitle {
    /* border: 1px solid white; */
    font-size: 2rem;
    margin: .4rem 0 0.3rem 0;
    color: white;
}

.themeOptionContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    max-height: 376px;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.themeOption {
    width: 13rem;
    min-height: 2.5rem;
    background-color: #334155;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.2rem;
    color: #94A3B8;
    padding-left: 0.5rem;
    cursor: pointer;
}